apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: {{ .Values.postgres.resources.requests.storage }}
    limits:
      storage: {{ .Values.postgres.resources.limits.storage }}