apiVersion: v1
kind: PersistentVolumeClaim
metadata:
   name: {{ .Release.Name }}-postgres
   namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOncePod
  resources:
    requests:
      storage: {{ .Values.postgres.resources.requests.storage }}
    limits:
      storage: {{ .Values.postgres.resources.limits.storage }}